* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Helvetica;
    color: gray;
  }
  
  .App {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: url("assets/bg/3274408.jpg") no-repeat;
    background-size: cover;
    background-position: center;
  }